/* drag'n'drop and symbols */
.item {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    cursor: move;
    list-style-type: none;
    margin: 3px;
    z-index: 2;
    background-image:url('../img/sprite.png');
    background-color: #FFFF73;

    border-radius: 10px;
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.15);
    transition: margin 0.3s ease-in-out;
}

.item.error {
    border-color: red;
    border-width: 3px;
    width: 46px;
    height: 46px;
}

.item.yui3-dd-dragging {
    z-index: 99;
}

.item.left {
    background-position: -300px -1px;
}
.item.left.error {
    background-position: -302px -3px;
}
.item.right {
    background-position: -200px -1px;
}
.item.right.error {
    background-position: -202px -3px;
}
.item.up {
    background-position: -100px -1px;
}
.item.up.error {
    background-position: -102px -3px;
}
.item.down {
    background-position: 0px -1px;
}
.item.down.error {
    background-position: -2px -3px;
}
.item.repeat {
    background-position: -100px -101px;
    background-color: #67E667;
}
.item.repeat.error {
    background-position: -102px -103px;
}
.item.endrepeat {
    background-position: -200px -101px;
    background-color: #67E667;
}
.item.endrepeat.error {
    background-position: -202px -103px;
}
.item.condition {
    background-position: -300px -101px;
    background-color: #FF7373;
}
.item.condition.error {
    background-position: -302px -103px;
}
.item.endcondition {
    background-position: -200px -101px;
    background-color: #FF7373;
}
.item.endcondition.error {
    background-position: -202px -103px;
}
.item.counter {
    background-image: none;
    background-color: #5CCCCC;
    font-size: 32px;
    font-weight: bold;
    line-height: 52px;
    text-align: center;
    color: #555555;
}
.item.counter.error {
    line-height: 48px;
}
.item.conditional {
    background-color: #FFB273;
}
.item.stone {
    background-position: 0px -101px;
}
.item.stone.error {
    background-position: -2px -103px;
}
.item.field {
    background-image: none;
}

.item.drift {
    margin-top: 30px;
}

#commands-original {
    margin-left: 42px;
}
#commands-original .item {
    float: left;
}

#commands-in-use {
    clear: both;
    border: 1px solid black;
    background-color: #eee;
    min-height: 200px;
    width: 200px;
    padding-bottom: 50px;
    z-index: 1;
    margin-left: 70px;
}

#commands-in-use.yui3-dd-drop-over {
    background-color: #ccc;
}

/* map */
#map {
    margin: 0;
    padding: 0;
    width:  600px;
    height:  600px;
}

#robot {
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    background-image:url('../img/robot.png');
}
#robot.right {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}
#robot.left {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}
#robot.up {
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}
#robot.down {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}
#robot.error {
    background-color: rgba(255, 0, 0, 0.5);
    transition: none;
    -ms-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    -moz-transition: none;
}

.easy_move {
    transition: background-color 0.25s ease-in-out, margin 0.15s ease-in-out, transform 0.15s ease-in-out;
    -ms-transition: background-color 0.25s ease-in-out, margin 0.15s ease-in-out, -ms-transform 0.15s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out, margin 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
    -o-transition: background-color 0.25s ease-in-out, margin 0.15s ease-in-out, o-transform 0.15s ease-in-out;
    -moz-transition: background-color 0.25s ease-in-out, margin 0.15s ease-in-out, -moz-transform 0.15s ease-in-out;
}

#map li {
    list-style-type: none;
    float: left;
    width: 58px;
    height: 58px;
    background-image:url('../img/bg_pattern.png');
    background-color: #FFF3A8;
    border-bottom: 2px solid #FAF2BE;
    border-right: 2px solid #FAF2BE;
}

#map li.stone {
    background-image:url('../img/bg_pattern_stone.png');
}

#map li.goal {
    background-image: url('../img/bg_pattern_green.png');
    background-position: 278px 480px;
}

/*messages*/
#messages {
    margin-left: 70px;
    margin-top: -50px;
    margin-bottom: 20px;
    min-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #fafafa;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}
