/* drag'n'drop and symbols */
.item {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    cursor: move;
    list-style-type: none;
    margin: 3px;
    z-index: 2;
    background-image:url('../img/icons.png');
    background-color: #FFFF73;

    border-radius: 10px;
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.15);
    transition: margin 0.3s ease-in-out;
}

.item.yui3-dd-dragging {
    z-index: 99;
}

.item.left {
    background-position: 278px 480px;
}
.item.right {
    background-position: 355px 480px;
}
.item.up {
    background-position: 432px 480px;
}
.item.down {
    background-position: 509px 480px;
}
.item.repeat {
    background-position: 586px 790px;
    background-color: #67E667;
}
.item.endrepeat {
    background-position: 663px 790px;
    background-color: #67E667;
}
.item.condition {
    background-position: 586px 790px;
    background-color: #FF7373;
}
.item.endcondition {
    background-position: 663px 790px;
    background-color: #FF7373;
}
.item.counter {
    background-image: none;
    background-color: #5CCCCC;
    font-size: 36px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    color: #555555;
}
.item.conditional {
    background-position: 509px 540px;
    background-color: #FFB273;
}

.item.drift {
    margin-top: 50px;
}

#items .item {
    float: left;
}

#drop {
    clear: both;
    border: 1px solid black;
    background-color: #eee;
    min-height: 200px;
    width: 200px;
    padding-bottom: 50px;
    z-index: 1;
}

#drop.yui3-dd-drop-over {
    background-color: #ccc;
}

/* map */

#map {
    margin: 0;
    padding: 0;
    width:  600px;
    height:  600px;
}

#map li {
    list-style-type: none;
    float: left;
    width: 58px;
    height: 58px;
    background-color: #FFF3A8;
    background-image:url('../img/bg_pattern.png');
    border-bottom: 2px solid #FAF2BE;
    border-right: 2px solid #FAF2BE;
}